.link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
}

.reverse {
  flex-direction: row-reverse;
}

.arrow {
  display: inline-flex;
  transition: transform var(--dur) var(--ease-out);
}

.link:hover .arrow {
  transform: rotate(90deg);
}
